<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>View Frame</title>
        <link rel="stylesheet" href="view.css" />
    </head>
    <body>
        this is View Frame Lorem ipsum dolor sit amet consectetur, adipisicing
        elit. Deserunt repellat officia in ab necessitatibus sequi laborum
        tenetur possimus dolores, quam dignissimos ratione, provident labore
        cupiditate eum aut assumenda, officiis architecto. Voluptatum, labore ex
        soluta suscipit nam asperiores cum earum tenetur quod voluptatibus odio
        delectus iure, voluptate facere repellendus. Repellat dolorum vitae
        aspernatur expedita nesciunt neque nostrum eligendi totam eos maiores!
        Perspiciatis perferendis saepe ut, amet veniam sint magnam dolor fugiat
        sequi iure nemo eligendi corporis cumque deleniti officia nulla
        explicabo delectus vel necessitatibus dignissimos asperiores voluptatem
        animi! Corporis, totam accusamus! In amet veniam corporis labore sint
        expedita accusamus, et dolorem quos dicta repellat sequi mollitia
        corrupti est consectetur hic asperiores libero tempore dolores adipisci!
        Placeat neque in illo quas possimus. Ducimus repellendus dolor quo odio
        blanditiis eaque dolore nihil reprehenderit ipsam cum magni mollitia
        expedita, quia, officiis molestiae inventore, exercitationem sapiente
        quidem earum suscipit nam eos libero rem! Rem, corrupti.
    </body>
</html>
